rembg==2.0.51
altair
scikit-learn
numpy
pandas
pydeck
streamlit
sweetviz
google-auth
google-auth-oauthlib
google-cloud
seaborn
google-cloud-vision
azure-cognitiveservices-vision-computervision
stability_sdk
yolov5
torch
cv2
ultralytics
rembg